{% extends layout %}

{% block title %}Gestion du catalogue{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% block content %}
<h2>Gestion du catalogue</h2>
            <ul>
				<li><a href="{{ path('products_list') }}">{{ 'Menu.ProductsManagement'|trans }}</a></li>
				<li><a href="{{ path('categories_list') }}">{{ 'Menu.CategoriesManagement'|trans }}</a></li>
				<li><a href="{{ path('taxes_list') }}">{{ 'Menu.TaxesManagement'|trans }}</a></li>
				<li><a href="{{ path('suppliers_list') }}">{{ 'Menu.SuppliersManagement'|trans }}</a></li>
			</ul>
{% endblock %}
