{% extends layout %}

{% block title %}Gestion des produits{% endblock %}
{% block description %}Interface de gestion des porduits.{% endblock %}
{% block keywords %}{% endblock %}

{% block content %}
<div class="arianne"><a href="{{ path('products_list') }}">Gestion des produits</a></div>
<h2>{{ label }}</h2>
<div></div>


<dl>

<dt>Réference<dt>
<dd>{{ reference }}</dd>

<dt>Code<dt>
<dd>{{ barcode }}</dd>

<dt>Prix d'achat<dt>
<dd>{{ price_buy }}</dd>


<dt>Prix de vente (hors taxe)<dt>
<dd>{{ price_sell }}</dd>

<dt>Prix de vente TTC<dt>
<dd>{{ price_total }}</dd>


<dt>Marge<dt>
<dd>{{ margin }}</dd>




<dt>Taxe<dt>
<dd>{{ tax_label }}</dd>

{% if scaled==1 %}<p>Ce produit est vendu au poids.</p>{% endif %}


{% if visible==0 %}<p>Ce produit n'est pas affiché au catalogue.</p>{% endif %}


</dl>

<ul>
<li><a href="{{ path('product_edit', { 'id': id } ) }}">Modifer</a></li>
</ul>
{% endblock %}
