{% extends layout %}

{% block title %}Gestion des produits{% endblock %}
{% block description %}Interface de gestion des porduits.{% endblock %}
{% block keywords %}{% endblock %}

{% block content %}
<div><ul class="breadcrumb"><li><a href="{{ path('products_list') }}">Gestion des produits</a></li></div>
<h2>{{ product.label }}</h2>
<div class="logo pull-right">

<img src="{{ path('image',{ 'id': product.id }) }}" />
{{message}}
<form method="post" action="" {{ form_enctype(form) }} >
{{ form_errors(form) }}
{{form_widget(form)}}
    <input type="submit" value="Enregister" id="send" name="send">
</form>
</div>


<dl class="dl-horizontal">

<dt>Réference<dt>
<dd>{{ product.reference }}</dd>

<dt>Code<dt>
<dd>{{ product.barcode }}</dd>

<dt>Prix d'achat<dt>
<dd>{{ product.price_buy }}</dd>


<dt>Prix de vente (hors taxe)<dt>
<dd>{{ product.price_sell }}</dd>

<dt>Prix de vente TTC<dt>
<dd>{{ product.price_total }}</dd>


<dt>Marge<dt>
<dd>{{ product.margin }}</dd>




<dt>Taxe<dt>
<dd>{{ product.tax_cat.label }}</dd>

{% if product.scaled==1 %}<p>Ce produit est vendu au poids.</p>{% endif %}


{% if product.visible==0 %}<p>Ce produit n'est pas affiché au catalogue.</p>{% endif %}


</dl>

<div><a href="{{ path('product_edit', { 'id': product.id } ) }}"  class="btn btn-success">Modifer ce produit</a></li>
</div>
{% endblock %}
