<td>{{ product.barcode }}</td>
<td>{{ product.reference }}</td>
<td>{{ product.label }}</td>
<td>
	<a href="{{ path('product', { 'id': product.id } ) }}">Voir</a>
	<a href="{{ path('product_edit', { 'id': product.id } ) }}">Modifer</a>
	<a href="{{ path('product_delete', { 'id': product.id } ) }}">Supprimer</a>
</td>