<td>{{ product.barcode }}</td>
<td>{{ product.reference }}</td>
<td>{{ product.label }}</td>
<td>
<div class="btn-group">
<a class="btn" href="{{ path('product', { 'id': product.id } ) }}"><i class="icon-eye-open"></i> Voir</a>
	<a class="btn" href="{{ path('product_edit', { 'id': product.id } ) }}"><i class="icon-pencil"></i> Modifer</a>
	<a class="btn" href="{{ path('product_delete', { 'id': product.id } ) }}"><i class="icon-trash"></i> Supprimer</a>
</div>

</td>